# Intro to Python (INT-2240)


### Installing Jupyter Lab or Notebook on macOS and Windows

#### **For macOS:**

1. **Install Python:**
   - Ensure Python is installed. You can download the latest version of Python from the [official Python website](https://www.python.org/downloads/).
   - During installation, ensure that you check the box to add Python to your PATH.

2. **Open Terminal:**
   - You can find Terminal in `Applications > Utilities > Terminal`.

3. **Install Jupyter Lab or Notebook:**
   - You can install Jupyter Lab or Notebook using `pip`, Python's package installer.
   - For Jupyter Lab, run:
     ```bash
     pip install jupyterlab
     ```
   - For Jupyter Notebook, run:
     ```bash
     pip install notebook
     ```

4. **Launch Jupyter Lab or Notebook:**
   - To launch Jupyter Lab, run:
     ```bash
     jupyter lab
     ```
   - To launch Jupyter Notebook, run:
     ```bash
     jupyter notebook
     ```

5. **Access Jupyter Interface:**
   - A new browser window should open with the Jupyter interface. If it doesn't, you can manually open your browser and navigate to `http://localhost:8888`.

#### **For Windows:**

1. **Install Python:**
   - Download and install Python from the [official Python website](https://www.python.org/downloads/).
   - Ensure you check the box to add Python to your PATH during the installation.

2. **Open Command Prompt or PowerShell:**
   - You can open Command Prompt or PowerShell by searching for it in the Start menu.

3. **Install Jupyter Lab or Notebook:**
   - Similar to macOS, use `pip` to install Jupyter Lab or Notebook.
   - For Jupyter Lab, run:
     ```bash
     pip install jupyterlab
     ```
   - For Jupyter Notebook, run:
     ```bash
     pip install notebook
     ```

4. **Launch Jupyter Lab or Notebook:**
   - To start Jupyter Lab, type:
     ```bash
     jupyter lab
     ```
   - To start Jupyter Notebook, type:
     ```bash
     jupyter notebook
     ```

5. **Access Jupyter Interface:**
   - A new browser window should automatically open with the Jupyter interface. If not, navigate to `http://localhost:8888` in your browser.

#### **Using Anaconda (Alternative for macOS and Windows):**

1. **Install Anaconda:**
   - Download and install the [Anaconda distribution](https://www.anaconda.com/products/distribution), which comes with Jupyter Notebook and Jupyter Lab pre-installed.

2. **Launch Jupyter:**
   - Open Anaconda Navigator (available in the Start menu on Windows or in Applications on macOS).
   - From Anaconda Navigator, you can launch Jupyter Lab or Notebook by clicking on the respective buttons.

### Additional Resources:
- [Jupyter Documentation](https://jupyter.org/documentation)
- [Python Official Downloads](https://www.python.org/downloads/)
- [Anaconda Distribution](https://www.anaconda.com/products/distribution)

### Introduction to Programming Languages
- **What is a Programming Language?**
  - A programming language is a formal language comprising a set of instructions that produce various kinds of output. Programming languages are used in computer programming to implement algorithms.

Why Python?
- **Python Overview:**
  - Python is an interpreted, high-level, and general-purpose programming language. Created by Guido van Rossum and first released in 1991, Pythonâ€™s design philosophy emphasizes code readability with its notable use of significant indentation.
  - **Key Features:**
    - **Readability:** Python's syntax is clear and easy to understand.
    - **Versatility:** Used in web development, data science, automation, etc.
    - **Community Support:** Extensive libraries and frameworks.

### Variables and Data Types
- **Variables in Python:**
  - Variables are containers for storing data values.
  - Python has no command for declaring a variable.
  - A variable is created the moment you first assign a value to it.

In [9]:
x = 5
y = "Hello, World!"
print(x)
print(y)

5
Hello, World!

- **Data Types in Python:**
  - **Text Type:** `str`
  - **Numeric Types:** `int`, `float`
  - **Sequence Types:** `list`, `tuple`
  - **Mapping Type:** `dict`

### Operators and Expressions
- **Operators:**
  - **Arithmetic Operators:** `+`, `-`, `*`, `/`, `%`, `**`, `//`
  - **Comparison Operators:** `==`, `!=`, `>`, `<`, `>=`, `<=`
  - **Logical Operators:** `and`, `or`, `not`

In [10]:
a = 10
b = 20
print(a + b)  # Addition
print(a > b)  # Comparison

30
False

### Control Flow (Conditionals)
- **If Statements:**
  - Control the flow of a program by executing certain code blocks based on conditions.

In [11]:
if a > b:
    print("a is greater than b")
elif a == b:
    print("a and b are equal")
else:
    print("b is greater than a")

b is greater than a

### Loops
- **For Loops:**
  - Used for iterating over a sequence (like a list, tuple, dictionary, set, or string).

In [13]:
# sequence data types:
data1 = [1, 2, 3, 4, 5] # list
data2 = (1, 2, 3, 4, 5) # tuple
data3 = {1, 2, 3, 4, 5} # set

In [15]:
print(type(data1))
print(type(data2))
print(type(data3))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [16]:
dict1 = {"name" : "seid", "age" : 49, "course" : "python"}
print(type(dict1))

<class 'dict'>

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

- **While Loops:**
  - Continue executing as long as the condition is true.

In [18]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

### Functions
- **Defining and Calling Functions:**
  - Functions are blocks of code which only run when called. You can pass data, known as parameters, into a function. Functions return data as a result.

In [ ]:
def my_function():
    print("Hello from a function")

my_function()

- **Arguments and Return Values:**

In [19]:
def add_numbers(x, y):
    return x + y

result = add_numbers(3, 5)
#print(result)

In [ ]:
print(add_numbers(3, 5))

what are x and y called? -- parameters (local variable)

what about 3 & 5? -- arguments

### Lists and Tuples
- **Lists:**
  - Lists are used to store multiple items in a single variable.

In [22]:
my_list = ["apple", "banana", "cherry"]
print(my_list[0])

apple

- **Tuples:**
  - A tuple is a collection which is ordered and unchangeable.

In [ ]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple[1])

Dictionaries
- **Dictionaries:**
  - Dictionaries are used to store data values in key:value pairs.

In [23]:
my_dict = {"name": "John", "age": 36}
print(my_dict["name"])
print(my_dict["age"])

John
36

### Basic Input and Output
- **Taking Input from the User:**
  - The `input()` function allows user input.

In [26]:
name = input("Enter your name: ")
print("Hello, " + name)
print(type(name))

Enter your name:  seid

Hello, seid
<class 'str'>

In [27]:
age = input("what is your age?: ")
print("your age is: ", age)
print(type(age))

what is your age?:  49

your age is:  49
<class 'str'>

- **Printing Output:**
  - The `print()` function is used to output data to the screen.

In [28]:
print("This is some text.")

This is some text.

### Introduction to Data Types and Variables
- **Data Types**:
  - **Integers (`int`)**: Whole numbers, e.g., `42`, `-7`
  - **Floating Point Numbers (`float`)**: Decimal numbers, e.g., `3.14`, `-0.001`
  - **Strings (`str`)**: Text, e.g., `"Hello, World!"`
  - **Booleans (`bool`)**: `True` or `False`

- **Variables**:
  - A variable is a named location used to store data in memory.
  - **Assignment**: Use `=` to assign a value to a variable.

In [ ]:
age = 25
name = "Alice"
temperature = 98.6
is_sunny = True

### Working with Variables
- **Naming Rules**:
  - Variable names must start with a letter or underscore.
  - Cannot start with a number.
  - Can contain letters, numbers, and underscores.

- **Examples**:

In [35]:
my_age = 49

In [36]:
# Valid variable names
first_name = "John"
age = 30
is_active = False
    
# Invalid variable name (will cause an error)
1st_place = "Gold"

SyntaxError: invalid decimal literal (1078983290.py, line 7)

### Basic Data Types in Python
- **Integer Operations**:
  - Basic arithmetic operations: `+`, `-`, `*`, `/`, `//`, `%`, `**`

In [ ]:
x = 10
y = 3
print(x + y)  # Addition: 13
print(x - y)  # Subtraction: 7
print(x * y)  # Multiplication: 30
print(x / y)  # Division: 3.3333...
print(x // y)  # Floor Division: 3
print(x % y)  # Modulus: 1
print(x ** y)  # Exponent: 1000

- **String Operations**:
  - Concatenation: `+`
  - Repetition: `*`

In [37]:
first_name = "Ada"
last_name = "Lovelace"
full_name = first_name + " " + last_name  # "Ada Lovelace"
print(full_name)
    
laugh = "ha" * 3  # "hahaha"
print(laugh)

Ada Lovelace
hahaha

### Type Conversion
- **Converting Between Data Types**:
  - Use `int()`, `float()`, `str()` to convert between data types.

In [38]:
age = input('what is your age? ')
birth_year = 2024 - age
print(birth_year)

what is your age?  49

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [39]:
age = int(input('what is your age? '))
birth_year = 2024 - age
print(birth_year)

what is your age?  49

1975

In [43]:
age = "25"
age = int(age) # Convert string to integer
print(age)
print(type(age))

price = 9.99
price = int(price)  # Convert float to integer (results in 9)
print(price)
print(type(price))

number = 42
text = str(number)  # Convert integer to string
print(text)
print(type(text))

25
<class 'int'>
9
<class 'int'>
42
<class 'str'>

### Basic Input and Output Operations
- **Input from User**:
  - Use `input()` to get input from the user (always returns a string).
  - Convert input if necessary.

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

age = int(input("Enter your age: "))  # Convert input to integer

- **Printing Output**:
  - Use `print()` to display output.
  - You can print multiple items by separating them with commas.

In [ ]:
print("The value of x is", x)
print("Temperature:", temperature)

In [44]:
print('seid', 'ali', 'james')

seid ali james

In [45]:
print('seid' + 'ali' + 'james')

seidalijames

In [46]:
print('seid' + ' ' + 'ali' + ' ' + 'james')

seid ali james

In [47]:
print('seid ' + 'ali ' +  'james')

seid ali james

### Basic Operators in Python
- **Arithmetic Operators**:
  - Perform arithmetic operations: `+`, `-`, `*`, `/`, `%`, `**`, `//`.

In [ ]:
a = 10
b = 3
print(a + b)  # Addition
print(a ** b)  # Exponentiation

- **Comparison Operators**:
  - Compare values: `==`, `!=`, `>`, `<`, `>=`, `<=`.

In [ ]:
print(a > b)  # True
print(a == b)  # False

- **Logical Operators**:
  - Combine conditional statements: `and`, `or`, `not`.

In [ ]:
print(a > 5 and b < 5)  # True
print(a > 5 or b > 5)  # True
print(not(a > b))  # False

### Combining Concepts with an Example
- **Example**: Simple User Interaction
  - A program that asks for a userâ€™s name and age, and then prints a message.

In [ ]:
name = input("What is your name? ")
age = int(input("How old are you? "))

year_born = 2024 - age
print(f"Hello, {name}! You were born in {year_born}.")

### Review and Questions
- **Key Takeaways**:
  - Understanding of basic data types: integers, floats, strings, and booleans.
  - Ability to create and use variables.
  - Basic input and output operations with `input()` and `print()`.
  - Use of arithmetic, comparison, and logical operators.
  
- **Questions?**

### Introduction to Boolean Values
- **Boolean Values**:
  - Python has a data type called `bool` which can hold one of two values: `True` or `False`.
  - Booleans are commonly used in conditional statements and loops.

- **Example**:

In [ ]:
is_sunny = True
is_raining = False
print(is_sunny)  # Output: True

### Conditional Execution
- **If Statements**:
  - Conditional statements are used to perform different actions based on different conditions.
  - The `if` statement executes a block of code if its condition evaluates to `True`.

- **Example**:

In [51]:
age = 10
if age >= 18:
    print("You are an adult.")
else:
    print('You are a minor')

you are a minor

- **Else and Elif**:
  - `else` provides an alternative block if the `if` condition is `False`.
  - `elif` allows multiple conditions to be checked in sequence.

- **Example**:

In [52]:
temperature = 25 # celcius
if temperature > 30:
    print("It's a hot day.")
elif temperature < 10:
    print("It's a cold day.")
else:
    print("It's a pleasant day.")

It's a pleasant day.

### Logical Operators
- **Logical Operators**:
  - `and`, `or`, and `not` are used to combine multiple conditions.

- **Example**:

In [ ]:
is_weekend = True
is_sunny = False

if is_weekend and is_sunny:
    print("Let's go to the beach!")
elif is_weekend and not is_sunny:
    print("Let's watch a movie at home.")
else:
    print("Time to work!")

### Loops in Python
- **While Loop**:
  - Repeats a block of code as long as a condition is `True`.
  - Be careful with while loops to avoid infinite loops.

- **Example**:

In [53]:
count = 0
while count < 5:
    print("Counting:", count)
    count += 1

Counting: 0
Counting: 1
Counting: 2
Counting: 3
Counting: 4

- **For Loop**:
  - Iterates over a sequence (like a list, tuple, or string).
  
- **Example**:

In [54]:
for i in range(5):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

### Lists in Python
- **What is a List?**:
  - A list is a collection of items that is ordered and changeable.
  - Lists allow duplicate members and can contain elements of different data types.

- **Example**:

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

### Accessing List Elements
- **Indexing**:
  - Access individual items using their index.
  - Lists are zero-indexed in Python.

- **Example**:

In [ ]:
print(fruits[0])  # Output: apple
print(fruits[-1])  # Output: cherry

- **Slicing**:
  - Access a subset of the list using slice notation.

- **Example**:

In [ ]:
print(fruits[1:3])  # Output: ['banana', 'cherry']

In [56]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0:2])

['apple', 'banana']

In [57]:
print('seid'[1:3])

ei

### Modifying Lists
- **Adding Items**:
  - Use `append()` to add an item to the end of the list.
  - Use `insert()` to add an item at a specific position.

- **Example**:

In [58]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange") # fruits = ["apple", "banana", "cherry", "orange"]
fruits.insert(1, "blueberry") # fruits = ["apple", "blueberry", "banana", "cherry", "orange"]
print(fruits)

['apple', 'blueberry', 'banana', 'cherry', 'orange']

- **Removing Items**:
  - Use `remove()` to remove a specific item.
  - Use `pop()` to remove an item by index.

- **Example**:

In [59]:
fruits.remove("apple")
fruits.pop(0)
print(fruits)

['banana', 'cherry', 'orange']

### List Processing
- **List Comprehensions**:
  - A concise way to create lists using a loop in a single line of code.

- **Example**:

In [60]:
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers] # list compression
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [61]:
numbers = [1, 2, 3, 4, 5]
for x in numbers:
    print(x**2)

1
4
9
16
25

In [62]:
print([x**2 for x in numbers])

[1, 4, 9, 16, 25]

- **Filtering with List Comprehensions**:
  - You can include a conditional statement in the list comprehension.

- **Example**:

In [63]:
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)  # Output: [2, 4]

[2, 4]

### Combining Lists with Loops
- **Iterating Over Lists**:
  - Use loops to perform operations on list items.

- **Example**:

In [64]:
fruits = ["apple", "blueberry", "banana", "cherry", "orange"]
for fruit in fruits:
    print(fruit.upper())

APPLE
BLUEBERRY
BANANA
CHERRY
ORANGE

### Nested Loops and Lists
- **Nested Lists**:
  - Lists can contain other lists as elements.
  
- **Example**:

In [65]:
matrix = [
      [1, 2, 3],
      [4, 5, 6],
      [7, 8, 9]
  ]
  
for row in matrix:
    for item in row:
        print(item, end=" ")
    print()

1 2 3
4 5 6
7 8 9

### Review and Questions
- **Key Takeaways**:
  - Understanding of Boolean values and how they influence control flow.
  - Mastery of loops for repeated execution and list processing.
  - Ability to manipulate lists and extract useful data with list comprehensions.

- **Questions?**

### Introduction to Functions
- **What are Functions?**:
  - A function is a block of reusable code that performs a specific task.
  - Functions help to organize code into manageable sections and promote code reuse.

- **Defining Functions**:
  - Use the `def` keyword to define a function, followed by the function name and parentheses containing any parameters.

- **Example**:

In [ ]:
def greet(name):
    print(f"Hello, {name}!")
  
greet("Alice")
# Output: Hello, Alice!

### Function Parameters and Return Values
- **Parameters**:
  - Functions can take in parameters (arguments) to work with data passed from the caller.
  
- **Return Values**:
  - Functions can return a value using the `return` statement.

- **Example**:

In [ ]:
def add_numbers(a, b):
    return a + b
  
result = add_numbers(5, 3)
print(result)  # Output: 8

### Scope and Lifetime of Variables
- **Local and Global Scope**:
  - Variables defined inside a function are local to that function and cannot be accessed outside it.
  - Variables defined outside all functions are global and can be accessed anywhere in the code.

- **Example**:

In [ ]:
def my_function():
    local_var = 10  # Local variable
    print(local_var)

global_var = 20  # Global variable
my_function()
print(global_var)

### Introduction to Tuples
- **What are Tuples?**:
  - Tuples are immutable sequences, meaning they cannot be changed after creation.
  - Use parentheses `()` to define a tuple.

- **Example**:

In [ ]:
coordinates = (10, 20)
print(coordinates[0])  # Output: 10

- **Immutability**:
  - Unlike lists, the elements of a tuple cannot be modified, added, or removed.

- **Example**:
  ```python
  # coordinates[0] = 30  # This will raise an error
  ```

### Using Tuples in Functions
- **Returning Multiple Values**:
  - Functions can return multiple values as a tuple, making it easier to handle related data together.

- **Example**

In [67]:
def divide(x, y):
    quotient = x // y
    remainder = x % y
    return (quotient, remainder)
  
result = divide(10, 3)
print(result)  # Output: (3, 1)
print(type(result))

(3, 1)
<class 'tuple'>

### Introduction to Dictionaries
- **What are Dictionaries?**:
  - Dictionaries are collections of key-value pairs, where each key is associated with a value.
  - Use curly braces `{}` to define a dictionary, and key-value pairs are separated by a colon `:`.

- **Example**:

In [69]:
student = {
      "name": "Alice",
      "age": 25,
      "major": "Computer Science"
  }
print(student["name"])  # Output: Alice

Alice

### Basic Dictionary Operations
- **Adding/Modifying Entries**:
  - You can add a new key-value pair or modify an existing one by assigning a value to a key.

- **Example**:

In [70]:
student["grade"] = "A"
student["age"] = 26
print(student)

{'name': 'Alice', 'age': 26, 'major': 'Computer Science', 'grade': 'A'}

- **Removing Entries**:
  - Use the `del` keyword or the `pop()` method to remove a key-value pair.

- **Example**:

In [ ]:
del student["major"]
age = student.pop("age")
print(student)  # Output: {'name': 'Alice', 'grade': 'A'}

### Looping Through Dictionaries
- **Iterating Over Keys and Values**:
  - You can loop through a dictionary using the `items()` method to access both keys and values.

- **Example**:

In [71]:
for key, value in student.items():
    print(f"{key}: {value}")

name: Alice
age: 26
major: Computer Science
grade: A

### Introduction to Data Processing
- **Combining Data Structures**:
  - Often, data is stored in complex structures like lists of dictionaries, or dictionaries of lists. Understanding how to access and manipulate this data is crucial.

- **Example**:

In [73]:
students = [
      {"name": "Alice", "age": 25},
      {"name": "Bob", "age": 22},
      {"name": "Charlie", "age": 23}
  ]
  
for student in students:
    print(student["age"])

25
22
23

# we will meet at 8:20 pm # only for th next session

### Advanced Data Processing Techniques
- **Nested Data Structures**:
  - Working with nested data structures requires careful indexing and looping.

- **Example**:

In [ ]:
data = {
      "group1": {"Alice": 85, "Bob": 90},
      "group2": {"Charlie": 88, "David": 92}
  }
  
for group, members in data.items():
    print(f"{group}:")
    for name, score in members.items():
        print(f"  {name} scored {score}")

### Slide 11: Summary and Conclusion
- **Key Takeaways**:
  - Functions allow for code reuse and organization.
  - Tuples are immutable sequences, ideal for returning multiple values from functions.
  - Dictionaries store key-value pairs, offering fast lookups and flexible data storage.
  - Data processing often involves combining and manipulating complex data structures.

- **Practice Examples**:
  - Write your own functions using tuples and dictionaries.
  - Perform tasks involving nested dictionaries and data processing.

# Data Types

### Slide 1: Introduction to Data Types in Python
- **What are Data Types?**
  - Data types in Python define the type of data that can be stored and manipulated within a program.
  - Python is dynamically typed, meaning variables do not need explicit declaration of their type.

- **Common Data Types in Python:**
  - **Integers (`int`)**: Whole numbers without a decimal point.
  - **Floating Point (`float`)**: Numbers that contain a decimal point.
  - **Strings (`str`)**: Text data enclosed in quotes.
  - **Booleans (`bool`)**: Representing True or False values.
  - **NoneType (`None`)**: Represents the absence of a value.

### Slide 2: Integer and Floating Point Types
- **Integers (`int`)**
  - Example:

In [ ]:
age = 30
year = 2024

 - **Operations**: Addition, subtraction, multiplication, division.
  - Example:

In [ ]:
result = 5 + 10  # Output: 15

- **Floating Point (`float`)**
  - Example:

In [ ]:
price = 19.99
weight = 2.75

- **Operations**: Support for arithmetic operations, similar to integers, but include decimals.
- Example:

In [ ]:
total = 19.99 * 3  # Output: 59.97

### Slide 3: String Data Type (`str`)
- **What are Strings?**
  - Strings represent sequences of characters enclosed in single (`'`) or double (`"`) quotes.

- **Creating Strings**
  - Example:

In [ ]:
name = "Alice"
greeting = 'Hello, World!'

- **String Concatenation**
  - Example:

In [ ]:
full_name = "John" + " " + "Doe"  # Output: John Doe

- **String Methods**
  - `upper()`, `lower()`, `title()`, `strip()`, `find()`, `replace()`.
  - Example:

In [ ]:
text = "python programming"
print(text.title())  # Output: Python Programming

### Slide 4: Boolean Data Type (`bool`)
- **What are Booleans?**
  - Booleans represent logical values: `True` or `False`.

- **Boolean Operations**
  - `and`, `or`, `not` are used to combine Boolean values.
  - Example:
    ```python
    is_student = True
    is_teacher = False
    print(is_student and is_teacher)  # Output: False
    ```

- **Comparison Operators**
  - `==`, `!=`, `>`, `<`, `>=`, `<=` used to compare values.
  - Example:
    ```python
    result = (10 > 5)  # Output: True
    ```

### Slide 5: NoneType (`None`)
- **What is NoneType?**
  - `None` represents the absence of a value or a null value.
  
- **Common Uses of None**
  - Default return value for functions without an explicit `return` statement.
  - Example:

In [ ]:
result = None
def my_function():
    pass
    
print(my_function())  # Output: None

### Slide 6: Type Conversion (Type Casting)
- **Why Type Conversion?**
  - Sometimes itâ€™s necessary to convert one data type to another.

- **Common Conversions**
  - `int()`, `float()`, `str()`, `bool()`.
  - Example:

In [ ]:
num_str = "100"
num_int = int(num_str)  # Converts string to integer

- **Automatic Type Conversion**
  - Python automatically converts data types when performing operations with mixed types.
  - Example:

In [ ]:
result = 10 + 2.5  # Integer and float mixed operation, result is float 12.5

### Slide 7: Summary
- **Key Points**:
  - Python supports multiple data types such as `int`, `float`, `str`, `bool`, and `None`.
  - Each data type has specific characteristics and operations that can be performed on it.
  - Understanding and correctly using data types is foundational for programming in Python.

- **Practical Exercise**:
  - Create variables of different types and perform operations on them.
  - Try type conversions and explore the behavior of mixed-type operations.

# Variables

### Slide 1: Introduction to Variables
- **What is a Variable?**
  - A variable is a symbolic name that references or "stores" data in a computer program.
  - Variables allow you to store information and manipulate it throughout your program.

- **Creating a Variable**
  - Variables are created by assigning a value to them using the `=` operator.
  - Example:`

In [ ]:
name = "Alice"
age = 30
height = 5.8

### Slide 2: Naming Conventions and Rules
- **Variable Naming Rules**
  - Variable names must start with a letter or an underscore (`_`).
  - They can only contain letters, numbers, and underscores.
  - Variable names are case-sensitive (`age`, `Age`, and `AGE` are different variables).

- **Best Practices for Naming Variables**
  - Use descriptive names that reflect the variable's purpose.
  - Use underscores to separate words in a variable name (snake_case).
  - Example:

In [ ]:
first_name = "John"
last_name = "Doe"
total_price = 99.99

### Slide 3: Variable Assignment and Reassignment
- **Variable Assignment**
  - Assigning a value to a variable:

In [ ]:
x = 10
message = "Hello, World!"

  - Variables can store various data types, such as integers, floats, strings, etc.

- **Variable Reassignment**
  - Variables can be reassigned to store a new value.
  - Example:

In [ ]:
x = 10
x = 20  # Now x holds the value 20
message = "Goodbye!"

### Slide 4: Multiple Assignments
- **Assigning Multiple Variables at Once**
  - Python allows you to assign values to multiple variables simultaneously.
  - Example:

In [ ]:
x, y, z = 1, 2, 3
first_name, last_name = "Jane", "Doe"

- **Swapping Values Between Variables**
  - Example:

In [ ]:
a = 5
b = 10
a, b = b, a  # Now a is 10, and b is 5

### Slide 5: Variable Types and Dynamic Typing
- **Pythonâ€™s Dynamic Typing**
  - In Python, the type of a variable is determined at runtime, based on the value assigned to it.
  - Example:

In [ ]:
x = 10       # x is an integer
x = "Hello"  # x is now a string

- **Checking Variable Type**
  - You can use the `type()` function to check the type of a variable.
  - Example:

In [ ]:
x = 3.14
print(type(x))  # Output: <class 'float'>

### Slide 6: Variable Scope
- **Local vs Global Variables**
  - **Local Variables**: Declared inside a function and accessible only within that function.
  - **Global Variables**: Declared outside all functions and accessible throughout the program.

- **Examples of Scope**
- Global variable:

In [ ]:
message = "Hello"

def greet():
    print(message)  # Accessing global variable

greet()  # Output: Hello

- Local variable:

In [ ]:
def greet():
    message = "Hi"
    print(message)  # Accessing local variable

greet()  # Output: Hi
print(message)  # Error: message is not defined

### Slide 7: Constants
- **What are Constants?**
  - Constants are variables that are not supposed to change once they have been assigned a value.
  - By convention, constants are written in all uppercase letters.

- **Example:**

In [ ]:
PI = 3.14159
MAX_SPEED = 120

- Python does not enforce the immutability of constants, but it is a strong convention.

### Slide 8: Summary and Practice
- **Summary**
  - Variables are essential for storing and manipulating data in Python.
  - Understand how to create, name, and manage variables effectively.
  - Be mindful of variable scope and use constants where applicable.

- **Practical Exercise**
  - Create variables to store your name, age, and a greeting message.
  - Swap the values of two variables and print the results.
  - Check the types of different variables using the `type()` function.

# Basic Input and Output in Python

### Slide 1: Introduction to Basic Input and Output in Python
- **What are Input and Output Operations?**
  - **Input**: Data provided to the program by the user.
  - **Output**: Data displayed to the user by the program.
  - Python has built-in functions like `input()` for gathering input and `print()` for displaying output.

### Slide 2: Using the `print()` Function
- **Basic Output with `print()`**
  - The `print()` function is used to output data to the console.
  - Example:

In [ ]:
print("Hello, World!")
print(42)
print(3.14)

- **Printing Multiple Items**
  - You can print multiple items in one `print()` call, separated by commas.
  - Example:

In [ ]:
name = "Alice"
age = 30
print("Name:", name, "Age:", age)

- **Formatting Output**
  - Use f-strings (formatted string literals) to insert variables into strings:

In [ ]:
name = "Bob"
age = 25
print(f"My name is {name} and I am {age} years old.")

### Slide 3: Using the `input()` Function
- **Basic Input with `input()`**
  - The `input()` function allows you to take user input as a string.
  - Example:

In [ ]:
user_input = input("Enter something: ")
print("You entered:", user_input)

- **Converting Input to Other Types**
  - Convert the input string to other data types like `int`, `float`, etc.
  - Example:

In [ ]:
age = input("Enter your age: ")
age = int(age)  # Convert the string to an integer
print("In 10 years, you will be", age + 10)

### Slide 4: Handling Multiple Inputs
- **Taking Multiple Inputs**
  - You can prompt the user for multiple inputs by calling `input()` multiple times.
  - Example:

In [ ]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print(f"Hello, {first_name} {last_name}!")

- **Splitting Input into Multiple Variables**
  - Example:

In [ ]:
data = input("Enter your name and age separated by a space: ")
name, age = data.split()  # Split input string by spaces
age = int(age)  # Convert age to an integer
print(f"Name: {name}, Age: {age}")

### Slide 5: Reading and Writing Files
- **Basic File Input and Output**
  - Python allows you to read from and write to files using `open()`, `read()`, and `write()` functions.

- **Reading a File**
  - Example:

In [ ]:
with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

- **Writing to a File**
  - Example:

In [ ]:
with open('output.txt', 'w') as file:
    file.write("This is a test.")

- **Appending to a File**
  - Example:

In [ ]:
with open('output.txt', 'a') as file:
    file.write("\nThis text is appended.")

### Slide 6: Handling Input and Output Errors
- **Common Input/Output Errors**
  - Handling errors like `FileNotFoundError` or `ValueError` using try-except blocks.
  
- **Example: Handling a File Not Found Error**

In [8]:
try:
    with open('nonexistent.txt', 'r') as file:
            content = file.read()
except FileNotFoundError:
    print("The file does not exist.")

The file does not exist.

- **Example: Handling Invalid Input**

In [ ]:
try:
    age = int(input("Enter your age: "))
    print(f"In 10 years, you will be {age + 10}.")
except ValueError:
    print("Please enter a valid number.")

### Slide 7: Summary and Practice
- **Summary**
  - Understand how to use `print()` for output and `input()` for gathering user input.
  - Know how to handle file operations and manage errors effectively.

- **Practice Exercise**
  - Create a program that asks the user for their name and age, writes this information to a file, and then reads it back and displays it to the user.

# Basic Operators

### Slide 1: Introduction to Basic Operators
- **What are Operators?**
  - Operators are special symbols in Python that carry out arithmetic or logical computation.
  - The value that the operator operates on is called the operand.

- **Categories of Operators:**
  - **Arithmetic Operators**
  - **Comparison Operators**
  - **Logical Operators**
  - **Assignment Operators**
  - **Bitwise Operators**

### Slide 2: Arithmetic Operators
- **Basic Arithmetic Operations:**
  - **Addition (`+`)**: Adds two operands.
  - **Subtraction (`-`)**: Subtracts the second operand from the first.
  - **Multiplication (`*`)**: Multiplies two operands.
  - **Division (`/`)**: Divides the first operand by the second (result is a float).
  - **Floor Division (`//`)**: Divides the first operand by the second (result is an integer).
  - **Modulus (`%`)**: Returns the remainder of the division.
  - **Exponentiation (`**`)**: Raises the first operand to the power of the second.

- **Examples:**

In [ ]:
print(5 + 3)     # Output: 8
print(10 - 2)    # Output: 8
print(4 * 7)     # Output: 28
print(9 / 2)     # Output: 4.5
print(9 // 2)    # Output: 4
print(9 % 2)     # Output: 1
print(2 ** 3)    # Output: 8

### Slide 3: Comparison Operators
- **Comparison Operations:**
  - **Equal (`==`)**: Checks if two operands are equal.
  - **Not Equal (`!=`)**: Checks if two operands are not equal.
  - **Greater than (`>`)**: Checks if the left operand is greater than the right.
  - **Less than (`<`)**: Checks if the left operand is less than the right.
  - **Greater than or equal to (`>=`)**: Checks if the left operand is greater than or equal to the right.
  - **Less than or equal to (`<=`)**: Checks if the left operand is less than or equal to the right.

- **Examples:**

In [ ]:
print(5 == 5)    # Output: True
print(5 != 2)    # Output: True
print(7 > 3)     # Output: True
print(2 < 4)     # Output: True
print(5 >= 5)    # Output: True
print(3 <= 2)    # Output: False

### Slide 4: Logical Operators
- **Logical Operations:**
  - **AND (`and`)**: Returns True if both operands are true.
  - **OR (`or`)**: Returns True if at least one of the operands is true.
  - **NOT (`not`)**: Reverses the logical state of its operand.

- **Examples:**

In [ ]:
print(True and True)   # Output: True
print(True and False)  # Output: False
print(True or False)   # Output: True
print(not True)        # Output: False
print(not False)       # Output: True

### Slide 5: Assignment Operators
- **Basic Assignment Operations:**
  - **Assignment (`=`)**: Assigns the right operand to the left operand.
  - **Add and Assign (`+=`)**: Adds the right operand to the left operand and assigns the result to the left operand.
  - **Subtract and Assign (`-=`)**: Subtracts the right operand from the left operand and assigns the result to the left operand.
  - **Multiply and Assign (`*=`)**: Multiplies the right operand with the left operand and assigns the result to the left operand.
  - **Divide and Assign (`/=`)**: Divides the left operand by the right operand and assigns the result to the left operand.

- **Examples:**

In [ ]:
x = 10
x += 5   # Equivalent to x = x + 5
print(x) # Output: 15

y = 20
y -= 3   # Equivalent to y = y - 3
print(y) # Output: 17

z = 7
z *= 2   # Equivalent to z = z * 2
print(z) # Output: 14

### Slide 6: Bitwise Operators
- **Bitwise Operations (Advanced):**
  - **AND (`&`)**: Performs binary AND operation.
  - **OR (`|`)**: Performs binary OR operation.
  - **XOR (`^`)**: Performs binary XOR operation.
  - **NOT (`~`)**: Performs binary NOT operation.
  - **Shift Left (`<<`)**: Shifts bits to the left by a specified number of positions.
  - **Shift Right (`>>`)**: Shifts bits to the right by a specified number of positions.

- **Examples:**

In [ ]:
a = 60    # 60 = 0011 1100 in binary
b = 13    # 13 = 0000 1101 in binary
  
print(a & b)  # Output: 12 (0000 1100)
print(a | b)  # Output: 61 (0011 1101)
print(a ^ b)  # Output: 49 (0011 0001)
print(~a)     # Output: -61 (1100 0011 in binary)
print(a << 2) # Output: 240 (1111 0000 in binary)
print(a >> 2) # Output: 15 (0000 1111 in binary)

### Slide 7: Practice and Application
- **Practice Problems:**
  1. Write a program that takes two numbers from the user and prints their sum, difference, product, and quotient.
  2. Create a simple calculator that performs addition, subtraction, multiplication, and division based on user input.
  3. Write a program that checks whether a given number is even or odd using bitwise operators.

- **Application Example:**

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print(f"Sum: {num1 + num2}")
print(f"Difference: {num1 - num2}")
print(f"Product: {num1 * num2}")
print(f"Quotient: {num1 / num2}")
print(f"Is num1 even? {'Yes' if num1 & 1 == 0 else 'No'}")